nav.navGrid
  .navGrid__offMenu
    img.img-fluid(src="images/Menu-new.png" alt="Mobile Menu", srcset="")
  .navGrid__logo
    img.img-fluid.mx-auto.d-block(alt="Logo" src="images/logo.png" srcset="images/logo.png 1x, images/logo@2x.png 2x")
  .navGrid__about
    //- span About Us
.offCanvas
  .offCanvas__close  
    img(src="images/close.png" alt="Mobile Menu", srcset="")
  nav
    ul.offCanvas__menu
      a.offCanvas__list(href='')(class=home)
        li DESIGN SPRINT 
      a.offCanvas__list(href='')(class=empathize)
        li EMPHATIZE 
      a.offCanvas__list(href='')(class=ux)
        li IDEATION UX   
      a.offCanvas__list(href='')(class=ui)
        li IDEATION UI  
      a.offCanvas__list(href='')(class=prototype)
        li PROTOTYPE 
      a.offCanvas__list(href='')(class=test)
        li TESTING
      a.offCanvas__list(href='')(class=holder)
        li STAKEHOLDER 