nav.navGrid(data-aos="fade-up" data-aos-duration='200')
  .navGrid__offMenu
    img.navGrid__offMenu--img(src="images/Menu-new@2x.png" alt="Mobile Menu", srcset="" style='width:50px;')
    .navGrid__offMenu--text(data-text-swap="CLOSE" data-text-original="MENU") MENU
  .navGrid__logo
    a(href='#')
      img.img-fluid.mx-auto.d-block.w-75(alt="Logo" src="images/logo.png" srcset="images/logo.png 1x, images/logo@2x.png 2x")
.offCanvas
  nav
    ul.offCanvas__menu
      a.offCanvas__list(href='index.html')(class=home)
        li DESIGN SPRINT 
      a.offCanvas__list(href='empathize.html')(class=empathize)
        li EMPHATIZE 
      a.offCanvas__list(href='user-experience.html')(class=ux)
        li IDEATION UX   
      a.offCanvas__list(href='user-interface.html')(class=ui)
        li IDEATION UI  
      a.offCanvas__list(href='prototype.html')(class=prototype)
        li PROTOTYPE 
      a.offCanvas__list(href='test.html')(class=test)
        li TESTING
      a.offCanvas__list(href='stakeholder.html')(class=holder)
        li STAKEHOLDER 